{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Категория - {{ category_slug }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="header">
        <h1 class="main-title">Мой блог</h1>
        <nav class="main-menu">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'pages:about' %}">Обо мне</a></li>
                <li><a href="{% url 'pages:rules' %}">Правила</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <h2 class="section-title">Публикации в категории - {{ category_slug }}</h2>

    </main>
    <footer class="footer">
        <p>© 2023 Мой блог</p>
    </footer>
</body>
</html>
